<div class="nes-container is-rounded is-centered green-border green">
  <i class="nes-mario"></i>
  <div>
    <a class="nes-btn is-green" href="{{ site.baseurl }}/">Home</a>
  </div>
</div>

<div class="nes-container is-rounded is-centered red-border red">
  <i class="nes-bulbasaur"></i>
  <div>
    <a class="nes-btn is-red" href="{{ site.baseurl }}/archives">Archives</a>
  </div>
</div>

<div class="nes-container is-rounded is-centered yellow-border yellow">
  <i class="nes-squirtle"></i>
  <div>
    <a class="nes-btn is-yellow" href="{{ site.baseurl }}/categories">Categories</a>
  </div>
</div>

<div class="nes-container is-rounded is-centered gray-border gray">
  <i class="nes-charmander"></i>
  <div>
    <a class="nes-btn is-gray" href="{{ site.baseurl }}/tags">Tags</a>
  </div>
</div>