---
layout: default
comments: true
---

<small class="post-info">{{ page.date | date: "%B %-d, %Y" }}</small>
<h1>
  {% if page.categories contains '게임' %}
      <i class="snes-logo"></i>
  {% elsif page.categories contains '영화' 
    or page.categories contains '드라마'
    or page.categories contains '연극' 
    or page.categories contains '연극' %}
      <i class="nes-icon like"></i>
  {% else %}
      <i class="nes-icon heart"></i>
  {% endif %}
  {{ page.title }}
</h1>
<p class="post-info">{{ page.description }}</p>
<h3 class="post-info">{{ page.rating }}</h3>
<small class="post-info">by {{ page.author | default: site.author }}</small>
<hr>
{% if page.youtube %}
  {% include youtube.html id=page.youtube %}
  <hr>
{% endif %}
{{ content }}
<hr>
{% if page.tags %}
<h3 class="post-info">Tags:  
{%- for tag in page.tags -%}
  <a href="{{site.baseurl}}/tags/#{{- tag -}}" class="nes-btn is-warning" style="font-size: 9px">{{- tag -}}</a>&nbsp;
{%- endfor -%}
{% endif %}
{% if page.categories %}
<h3 class="post-info">Categories: 
{%- for category in page.categories -%}
  <a href="{{site.baseurl}}/categories/#{{- category -}}" class="nes-btn is-success" style="font-size: 9px">{{- category -}}</a>&nbsp;
{%- endfor -%}
{% endif %}
<hr>
{% if site.disqus.shortname %}
  {% include comments.html %}
{% endif %}
