---
layout: default
comments: true
---

<small class="post-info">{{ page.date | date: "%B %-d, %Y" }}</small>
<h1>{{ page.title }}</h1>
<p class="post-info">{{ page.description }}</p>
<h3 class="post-info">{{ page.rating }}</h3>
<small class="post-info">by {{ page.author | default: site.author }}</small>
{{ content }}
{% if page.tags %}
<h3 class="post-info">Tags:  
{%- for tag in page.tags -%}
  <a href="{{site.baseurl}}/tags/#{{- tag -}}" class="nes-btn is-warning">{{- tag -}}</a>&nbsp;
{%- endfor -%}
<br/>
{% endif %}
{% if page.categories %}
<h3 class="post-info">Categories: 
{%- for category in page.categories -%}
    <a href="{{site.baseurl}}/categories/#{{- category -}}" class="nes-btn is-success">{{- category -}}</a>&nbsp;
{%- endfor -%}
{% endif %}
{% if site.disqus.shortname %}
  {% include comments.html %}
{% endif %}
